@font-face {
	font-family: 'Josefin Sans';
	src: url('~@/assets/fonts/Josefin_Sans/static/JosefinSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Josefin Sans';
  src: url('~@/assets/fonts/Josefin_Sans/static/JosefinSans-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}
@font-face {
	font-family: 'Josefin Sans';
  src: url('~@/assets/fonts/Josefin_Sans/static/JosefinSans-Light.ttf') format('truetype');
	font-weight: lighter;
	font-style: normal;
}
@font-face {
	font-family: 'Josefin Sans';
  src: url('~@/assets/fonts/Josefin_Sans/static/JosefinSans-ExtraLightItalic.ttf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
